.showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(20, 69, 123);
  height: 45vh;
  margin-top: 2.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smallText {
  color: #111;
  font-size: 1.2rem;
}

.midText {
  color: #111;
  font-size: 3.2rem;
}

.largeText {
  color: #fff;
  font-size: 4.2rem;
}

.btn {
  width: 25%;
  padding: 0.8rem;
  margin-top: 2.4rem;
  background-color: #111;
  color: #f1f1f1;
  border: 1px solid #111;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
  transition: 0.1s;
}

.desc {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #fff;
}
